clients:
  - url: http://loki:3100/loki/api/v1/push

positions:
  filename: /tmp/positions.yaml

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        target_label: 'container'
      - source_labels: ['__meta_docker_container_log_stream']
        target_label: 'stream'
      - source_labels: ['__meta_docker_container_label_app']
        target_label: 'app'
    pipeline_stages:
      - json:
          expressions:
            timestamp: timestamp
            level: level
            message: msg
      - timestamp:
          source: timestamp
          format: RFC3339Nano
      - labels:
          level:
          message:

  - job_name: syslog
    syslog:
      listen_address: 0.0.0.0:1514
      label_structured_data: yes
      labels:
        job: syslog
    relabel_configs:
      - source_labels: ['__syslog_message_hostname']
        target_label: 'hostname'
